robotframework==2.9
robotframework-debuglibrary==0.3
robotframework-requests==0.3.8
robotframework-selenium2library==1.7.2
robotframework-extendedselenium2library==0.9.0
robotframework-httplibrary
selenium==2.47.0
simplejson==3.8.0
requests[security]==2.7.0
fake-factory==0.5.2
robotframework-faker==3.0.0
pyreadline==2.0
jsonschema==2.5.1